/* CSS reset */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

/* End of CSS reset */

:root {
  --custom-color: #ce0925;
  --font-color: #000;
}

html {
  margin: 0 auto;
  font-family: 'Noto Serif', serif;
  font-size: 10px;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background-color: #f7f7f7;
}

.hidden {
  visibility: hidden;
}

a {
  display: inline-block;
  color: #000;
}

a:hover,
button:hover {
  color: var(--custom-color);
}

.shake:hover {
  animation: shake-left-right 0.5s;
  transform: translate(0, 0);
}

@keyframes shake-left-right {
  10%,
  60% {
    transform: translate(-1px, 0);
  }

  30%,
  90% {
    transform: translate(1px, 0);
  }
}

.material-icons {
  cursor: pointer;
}

.material-icons.cursor-none {
  cursor: text;
}

.page-container {
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  margin-top: 80px;
  display: flex;
}

.title1,
.title2 {
  text-decoration: none;
  font-size: 1.2rem;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title1 {
  font-weight: bold;
  margin-bottom: 3px;
}

.title3 {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  margin-bottom: 3px;
}

.title4 {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.title5 {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 3px;
}

/* Style Home.js */

.home-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

.home-cover > * {
  margin-left: 20px;
  margin-right: 20px;
}

.home-cover > span:first-child {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 320px;
  margin-bottom: 20px;
}

.home-cover > span:last-child {
  font-size: 2.4rem;
  font-weight: 300;
}

footer {
  margin-top: 40px;
  margin-bottom: 130px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

#email {
  line-height: 32px;
  margin-left: 5px;
}

/* Style NotFound.js */

.not-found-cover {
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
}

.not-found-cover > span:first-child {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  margin: 330px 20px 0 20px;
}

/* Style Header.js */

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar {
  max-width: 1200px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 auto;
}

.navbar a {
  text-decoration: none;
}

.navbar > div {
  border-left: 1px solid #dbdbdb;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 60px;
}

.navbar > div:first-of-type {
  border-left: none;
}

.navbar-logo {
  color: var(--custom-color);
  font-family: 'Carter One', cursive;
  font-size: 2.6rem;
  padding-left: 18px;
  padding-right: 18px;
}

.navbar-logo-bg {
  letter-spacing: 1.2px;
}

.navbar-logo-sm {
  font-size: 3.6rem;
  line-height: 70px;
}

.material-icons.custom-color {
  color: var(--custom-color);
}

.navbar-search {
  flex: 1 auto;
  position: relative;
}

.navbar-search-box {
  height: 50px;
  max-width: 600px;
  width: 100%;
  padding-left: 8px;
  font-size: 1.6rem;
  font-family: 'Noto Serif', serif;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: 0;
}

.navbar-search > .matched-container1 {
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  font-family: 'Noto Serif', serif;
  background-color: #fff;
  line-height: normal;
  font-weight: normal;
}

.matched-container1 > div:first-child {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar > .customize-color {
  position: relative;
  height: 60px;
  padding-left: 42px;
  padding-right: 42px;
}

.customize-color > i:first-child {
  line-height: 60px;
  padding-left: 18px;
  padding-right: 18px;
}

.color-picker {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  top: 60px;
  left: 0;
  min-width: 140px;
  background-color: #fff;
  border-radius: 0 0 5% 5%;
}

.customize-color:hover .color-picker,
.customize-color:active .color-picker {
  visibility: visible;
  opacity: 1;
}

.color-picker > * {
  line-height: 36px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.dot {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 6px;
  cursor: pointer;
}

.dot.red {
  background-color: #ce0925;
}

.dot.orange {
  background-color: #dd4124;
}

.dot.emerald {
  background-color: #009874;
}

.dot.coral {
  background-color: #ff6f61;
}

.dot.purple {
  background-color: #604c8d;
}

/* Style Podcast.js & Episode.js */

.podcast-episode-container {
  display: flex;
}

.show {
  flex: 0 0 280px;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 5px;
  padding: 30px;
  background-color: #fff;
}

.show > * {
  margin-bottom: 7px;
  font-size: 1.4rem;
}

.show h1 {
  font-size: 1.8rem;
}

.artwork {
  width: 150px;
  height: 150px;
}

/*
.subscribe-btn {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  border-radius: 8px;
  width: 100px;
  outline: 0;
  cursor: pointer;
}
*/

.podcast-links {
  margin-top: 3px;
}

.podcast-links > a {
  margin-right: 5px;
}

.show .more-info {
  font-size: 1.2rem;
}

.search-in-podcast {
  height: 30px;
  padding-left: 3px;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-family: 'Noto Serif', serif;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  outline: 0;
}

.episodes {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  background-color: #fff;
  margin-right: 25px;
}

.episode {
  display: flex;
  flex-direction: column;
  padding: 15px 5px;
  border-bottom: 1px solid #dbdbdb;
}

.episode.noBorderBottom {
  border-bottom: none;
}

.episode > * {
  margin-bottom: 7px;
  font-size: 1.4rem;
}

.episode > h3 {
  font-size: 1.6rem;
}

.episode > .date {
  font-size: 1.2rem;
}

.episode-controls {
  display: flex;
  align-items: center;
}

.episode-controls > * {
  margin-right: 10px;
}

.episode-play-group {
  display: flex;
  align-items: center;
}

.episode-play-group > * {
  margin-right: 5px;
}

.desc {
  line-height: 2rem;
  max-height: 12rem;
  overflow: scroll;
}

/* ** Style AudioPlayer.js */

.wrapper {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.player {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.episode-info {
  margin-left: 30px;
  flex: 0 0 278px;
  border-right: 1px solid #dbdbdb;
  display: flex;
}

.episode-info > img {
  margin-right: 8px;
}

.artwork-in-player {
  width: 50px;
  height: 50px;
}

.player-controls {
  margin-right: 30px;
  margin-left: 60px;
  font-family: 'Open Sans', sans-serif;
}

.main-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.speed {
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 700;
  width: 40px;
}

.playcontrols {
  display: flex;
  align-items: center;
}

.playcontrols > * {
  font-size: 3.6rem;
}

.playcontrols > i:nth-child(2) {
  font-size: 4.2rem;
}

.tooltip {
  visibility: hidden;
  position: relative;
  display: inline-block;
}

.player-controls:hover .tooltip {
  visibility: visible;
}

.tooltip .tooltiptext {
  visibility: hidden;
  color: grey;
  text-align: center;
  top: 5px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.progressbar {
  height: 2px;
  background-color: #dbdbdb;
  display: flex;
  cursor: ew-resize;
}

.progressbar-filled {
  width: 50%; /* to-do: seems like nothing is different when removing it. or 0%? */
  background-color: var(--custom-color);
  flex: 0;
  flex-basis: 0%;
}

.timer {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  font-size: 1.2rem;
}

/* Style Search.js */

.matched-container2 {
  width: 100%;
  background-color: #fff;
}

.matched-container2 > * {
  margin-left: 20px;
  margin-right: 20px;
}

.matched-results {
  padding-left: 15px;
  min-height: 500px;
}

.no-match-prompt {
  font-size: 1.4rem;
  margin-left: 20px;
}

.filter {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.filter > * {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin-left: 10px;
}

.filter > button {
  border: none;
  outline: 0;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.filter > .active {
  font-weight: bold;
  color: var(--custom-color);
}

/* Style PodcastCardStyleB.js */

.show-preview {
  display: flex;
  margin: 20px;
}

.show-preview > div:last-child {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  width: 90%;
}

.artwork-sm {
  width: 50px;
  height: auto;
}

/* Style PodcastCardStyleC.js */

.artwork-md {
  width: 70px;
  height: auto;
}

.show-preview > .align {
  justify-content: center;
}

/* Style EpisodeCardStyleB.js */

.inline {
  display: inline !important;
}

.episode-preview {
  display: flex;
  margin: 20px;
}

.episode-preview > * {
  margin-bottom: 7px;
  font-size: 1.4rem;
}

.episode-preview > *:first-child {
  width: 80px;
}

.episode-preview > *:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  width: 90%;
}

.episode-preview > *:nth-child(2) > * {
  margin-bottom: 10px;
}

.episode-preview > *:nth-child(2) > *:nth-child(3) {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.episode-preview > *:nth-child(2) > *:nth-child(3) > * {
  margin-right: 5px;
}

.episode-preview > *:nth-child(2) > *:nth-child(3) > *:nth-child(2) {
  margin-right: 10px;
}

.ln-search-highlight {
  background-color: #dbdbdb;
}

/* Make the website responsive */

@media (min-width: 769px) {
  .navbar-logo-sm {
    display: none;
  }

  .home-cover {
    background: center / cover no-repeat url("./images/home-cover-bg.png");
    height: 900px;
  }

  .not-found-cover {
    background: center / cover no-repeat url("./images/404-cover-bg.png");
    height: 900px;
  }

  .player-controls {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .navbar-logo-bg {
    display: none;
  }

  .navbar > div {
    padding-left: 2px;
    padding-right: 2px;
  }

  .navbar > .customize-color {
    padding-left: 2px;
    padding-right: 2px;
  }

  .color-picker {
    left: -80px;
  }

  .show-preview {
    margin: 10px;
  }

  .show-preview > div:last-child {
    padding-left: 10px;
    width: 100%;
  }

  .title3,
  .title4 {
    width: 80%;
  }

  .home-cover {
    background: center / cover no-repeat url("./images/home-cover-md.png");
    height: 800px;
  }

  .not-found-cover {
    background: center / cover no-repeat url("./images/404-cover-md.png");
    height: 800px;
  }

  .episode-info {
    padding-right: 10px;
    flex: 0 0 auto;
  }

  .artwork-in-player {
    width: 40px;
    height: 40px;
  }

  .titles-in-player {
    display: none;
  }

  .player-controls {
    margin-left: 15px;
    width: 90%;
  }

  #playPause {
    margin-left: 8px;
    margin-right: 8px;
  }

  .speed {
    width: 30px;
  }

  .matched-container2 > * {
    margin-left: 0;
    margin-right: 0;
  }

  .matched-results {
    padding-left: 0;
  }

  .no-match-prompt {
    margin-left: 0;
  }

  .filter > * {
    margin-left: 0;
  }

  .episode-preview > *:nth-child(2) {
    margin-left: 15px;
  }

  .podcast-episode-container {
    flex-direction: column;
  }

  .show {
    margin-left: 5px;
    flex: 1 1 auto;
    border-bottom: 1px solid #dbdbdb;
  }

  .podcast-links,
  .more-info {
    display: none;
  }

  .episodes {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .desc {
    max-height: 24rem;
  }
}

@media (max-width: 480px) {
  .home-cover {
    background: center / cover no-repeat url("./images/home-cover-sm.png");
    height: 640px;
  }

  .home-cover > span:first-child {
    font-size: 5.2rem;
  }

  .not-found-cover {
    background: center / cover no-repeat url("./images/404-cover-sm.png");
    height: 640px;
  }

  .not-found-cover > span:first-child {
    font-size: 3rem;
    margin-top: 300px;
  }
}

@media (min-height: 800px) {
  .home-cover > span:first-child {
    margin-top: 420px;
  }

  .not-found-cover > span:first-child {
    margin-top: 420px;
  }
}
