/* CSS reset */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

/* End of CSS reset */

/* Fonts */

@font-face {
  font-family: 'Noto Serif';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/noto-serif-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif'), local('NotoSerif'),
    url('./fonts/noto-serif-v6-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/noto-serif-v6-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('./fonts/noto-serif-v6-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/noto-serif-v6-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/noto-serif-v6-latin-regular.svg#NotoSerif') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('./fonts/open-sans-v15-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/open-sans-v15-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('./fonts/open-sans-v15-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/open-sans-v15-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Carter One';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/carter-one-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Carter One'), local('CarterOne'),
    url('./fonts/carter-one-v10-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/carter-one-v10-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('./fonts/carter-one-v10-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/carter-one-v10-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/carter-one-v10-latin-regular.svg#CarterOne') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Rubik';
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/rubik-v7-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Rubik Light'), local('Rubik-Light'),
    url('./fonts/rubik-v7-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/rubik-v7-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/rubik-v7-latin-300.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/rubik-v7-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/rubik-v7-latin-300.svg#Rubik')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Rubik';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/rubik-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Rubik'), local('Rubik-Regular'),
    url('./fonts/rubik-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/rubik-v7-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/rubik-v7-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/rubik-v7-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/rubik-v7-latin-regular.svg#Rubik')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Rubik';
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/rubik-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Rubik Bold'), local('Rubik-Bold'),
    url('./fonts/rubik-v7-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/rubik-v7-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/rubik-v7-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/rubik-v7-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/rubik-v7-latin-700.svg#Rubik')
      format('svg'); /* Legacy iOS */
}

/* Shared styles */

:root {
  --custom-color: #ce0925;
  --font-color: #000;
}

html {
  margin: 0 auto;
  font-family: 'Noto Serif', serif;
  font-size: 10px;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background-color: #f7f7f7;
}

.hidden {
  visibility: hidden;
}

a {
  display: inline-block;
  color: #000;
}

a:hover,
button:hover {
  color: var(--custom-color);
}

button.disable-load {
  cursor: wait;
}

button.disable-load:hover {
  color: #000;
}

svg {
  cursor: pointer;
}

.cursor-none {
  cursor: text;
}

.page-container {
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  margin-top: 80px;
  display: flex;
}

.title1,
.title2 {
  text-decoration: none;
  font-size: 1.2rem;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title1 {
  font-weight: bold;
  margin-bottom: 3px;
}

.title3 {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  margin-bottom: 3px;
}

.title4 {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.title5 {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 3px;
}

/* to handle html contained in the responses
of api calls */
.inline {
  display: inline !important;
}

/* to handle images in the description area
of an episode */
.inline img {
  width: 100%;
  height: auto;
}

/* Webkit / Chrome Specific CSS to remove tap
highlight color when responding to touch */
.prevent-tap-hl {
  -webkit-tap-highlight-color: transparent;
}

/* Style Header.js */

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar {
  max-width: 1200px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 auto;
}

.navbar a {
  text-decoration: none;
}

.navbar > div {
  border-left: 1px solid #dbdbdb;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 60px;
}

.navbar > div:first-of-type {
  border-left: none;
}

.navbar-logo {
  color: var(--custom-color);
  font-size: 2.6rem;
  font-family: 'Carter One', sans-serif;
  padding-left: 18px;
  padding-right: 18px;
  -webkit-tap-highlight-color: transparent;
}

.navbar-logo-bg {
  letter-spacing: 1.2px;
}

.navbar-logo-sm {
  font-size: 3.6rem;
  line-height: 70px;
}

.material-icons.custom-color {
  color: var(--custom-color);
}

.navbar-search {
  flex: 1 auto;
  position: relative;
}

.navbar-search-box {
  height: 50px;
  max-width: 600px;
  width: 100%;
  padding-left: 8px;
  font-size: 1.6rem;
  font-family: 'Noto Serif', serif;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: 0;
}

.navbar-search > .matched-container1 {
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  font-family: 'Noto Serif', serif;
  background-color: #fff;
  line-height: normal;
  font-weight: normal;
}

.matched-container1 > div:first-child {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar > .customize-color {
  position: relative;
  height: 60px;
  padding-left: 42px;
  padding-right: 42px;
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

.customize-color > svg {
  margin: 18px;
}

.color-picker {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  top: 60px;
  left: 0;
  min-width: 140px;
  background-color: #fff;
  border-radius: 0 0 5% 5%;
}

.color-picker > * {
  line-height: 36px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.color-option > * {
  cursor: pointer;
}

.color-option > *:last-child {
  padding-left: 6px;
}

.dot {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.dot.red {
  background-color: #ce0925;
}

.dot.orange {
  background-color: #dd4124;
}

.dot.emerald {
  background-color: #009874;
}

.dot.coral {
  background-color: #ff6f61;
}

.dot.purple {
  background-color: #604c8d;
}

/* Style AudioPlayer.js */

.wrapper {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.player {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.episode-info {
  margin-left: 30px;
  flex: 0 0 278px;
  border-right: 1px solid #dbdbdb;
  display: flex;
}

.episode-info > *:first-child {
  margin-right: 8px;
}

.artwork-in-player {
  height: 50px;
}

.player-controls {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-left: 50px;
  font-family: 'Open Sans', sans-serif;
}

.main-board {
  flex-grow: 1;
}

.main-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  -webkit-tap-highlight-color: transparent;
}

.speed {
  font-size: 1.4rem;
  color: #808080;
  font-weight: 700;
  cursor: pointer;
  width: 40px;
}

.playcontrols {
  display: flex;
  align-items: center;
}

.playcontrols > * {
  height: 3.6rem;
  width: 3.6rem;
}

.playcontrols > svg:nth-child(2) {
  height: 4.2rem;
  width: 4.2rem;
}

.fav-in-player {
  margin-left: 16px;
}

.progressbar {
  height: 2px;
  background-color: #dbdbdb;
  display: flex;
  cursor: ew-resize;
}

.progressbar-filled {
  width: 50%; /* to-do: seems like nothing is different when removing it. or 0%? */
  background-color: var(--custom-color);
  flex: 0;
  flex-basis: 0%;
}

.timer {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  font-size: 1.2rem;
}

/* Style Home.js */

.home-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

.home-cover > * {
  margin-left: 20px;
  margin-right: 20px;
}

.home-cover > span:first-child {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 320px;
  margin-bottom: 20px;
}

.home-cover > span:last-child {
  font-size: 2.4rem;
  font-weight: 300;
}

footer {
  margin-top: 40px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

#email {
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

#email > svg {
  margin-left: 5px;
}

/* Style NotFound.js */

.not-found-cover {
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
}

.not-found-cover > span:first-child {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  margin: 330px 20px 0 20px;
}

/* Style Podcast.js & Episode.js */

.podcast-episode-container {
  display: flex;
}

.show {
  flex: 0 0 280px;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 5px;
  padding: 30px;
  background-color: #fff;
}

.show > * {
  margin-bottom: 7px;
  font-size: 1.4rem;
}

.show h1 {
  font-size: 1.8rem;
}

.artwork {
  width: 150px;
  height: 150px;
}

.podcast-links {
  margin-top: 3px;
}

.podcast-links > a {
  margin-right: 5px;
}

.show .more-info {
  font-size: 1.2rem;
}

.search-in-podcast {
  height: 30px;
  padding-left: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-family: 'Noto Serif', serif;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  outline: 0;
}

.episodes {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-right: 25px;
}

.episodes > * {
  margin-left: 40px;
  margin-right: 40px;
}

.episodes > *:first-child {
  margin-top: 30px;
}

.episodes > *:last-child {
  margin-bottom: 30px;
}

.episode {
  display: flex;
  flex-direction: column;
  padding: 15px 5px;
  border-bottom: 1px solid #dbdbdb;
}

.episode.noBorderBottom {
  border-bottom: none;
}

.episode > * {
  margin-bottom: 7px;
  font-size: 1.4rem;
}

.episode > h3 {
  font-size: 1.6rem;
}

.episode > .date {
  font-size: 1.2rem;
}

.episode-controls {
  display: flex;
  align-items: center;
}

.episode-controls > * {
  margin-right: 10px;
}

.episode-play-group {
  display: flex;
  align-items: center;
}

.episode-play-group > * {
  margin-right: 5px;
}

.desc {
  line-height: 2rem;
  max-height: 12rem;
  overflow: scroll;
}

.load-more-btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px solid var(--custom-color);
  cursor: pointer;
  margin-top: 20px;
  outline: 0;
}

.loading-prompt {
  padding-left: 25px;
  padding-top: 20px;
  font-size: 1.4rem;
}

/* Style Search.js */

.matched-container2 {
  width: 100%;
  background-color: #fff;
}

.matched-container2 > * {
  margin-left: 20px;
  margin-right: 20px;
}

.matched-results {
  padding-left: 15px;
  min-height: 500px;
}

.no-match-prompt {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-left: 20px;
}

.filter {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.filter > * {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin-left: 10px;
}

.filter > button {
  border: none;
  outline: 0;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.filter > .active {
  font-weight: bold;
  color: var(--custom-color);
}

.load-more {
  margin: 20px auto;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  border: 2px solid var(--custom-color);
  display: flex;
  outline: 0;
  padding: 5px 20px;
}

/* Style PodcastCardStyleB.js */

.show-preview-1 {
  display: flex;
  margin: 20px;
}

.artwork-sm {
  width: 50px;
  height: auto;
}

.show-preview-1 > .show-preview-info {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  width: 90%;
}

/* Style PodcastCardStyleC.js */

.show-preview-2 {
  display: flex;
  align-items: center;
  margin: 20px;
}

.show-preview-2 > div:first-child {
  margin-right: 25px;
}

.artwork-md {
  width: 70px;
  height: auto;
}

.show-preview-2 > .align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  width: 90%;
}

/* Style EpisodeCardStyleB.js */

.episode-preview {
  display: flex;
  margin: 20px;
}

.episode-preview > * {
  margin-bottom: 7px;
  font-size: 1.4rem;
}

.episode-preview > *:first-child {
  width: 80px;
}

.episode-preview > *:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  width: 90%;
}

.episode-preview > *:nth-child(2) > * {
  margin-bottom: 10px;
}

.episode-preview > *:nth-child(2) > *:nth-child(3) {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.episode-preview > *:nth-child(2) > *:nth-child(3) > * {
  margin-right: 5px;
}

.episode-preview > *:nth-child(2) > *:nth-child(3) > *:nth-child(2) {
  margin-right: 10px;
}

.ln-search-highlight {
  background-color: #dbdbdb;
}

/* Style EpisodeCardStyleD.js */

.faved-episode {
  display: flex;
  margin: 20px;
}

.faved-episode > * {
  margin-bottom: 7px;
  font-size: 1.4rem;
}

.faved-episode > *:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  width: 90%;
}

.faved-episode > *:nth-child(2) > * {
  margin-bottom: 10px;
}

.faved-episode > *:nth-child(2) > *:nth-child(3) {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.faved-episode > *:nth-child(2) > *:nth-child(3) > * {
  margin-right: 5px;
}

.faved-episode > *:nth-child(2) > *:nth-child(3) > *:nth-child(2) {
  margin-right: 10px;
}

.artwork-in-faved {
  width: 100px;
  height: auto;
  border-radius: 6px;
}

.desc-in-faved {
  line-height: 2rem;
  max-height: 6rem;
  overflow: scroll;
  word-break: break-word;
}

.tooltip-in-faved {
  display: flex;
  position: relative;
}

/* Sytle the shared parts of StarredPodcasts.js, FavoriteEpisodes.js */

.user-dashboard {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.user-dashboard > * {
  margin-left: 20px;
  margin-right: 20px;
}

.dashboard-options {
  border-bottom: 1px solid #dbdbdb;
}

.dashboard-options > * {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #808080;
  margin: 20px 30px;
}

.dashboard-options > a:hover {
  color: #808080;
  font-weight: 700;
}

.dashboard-options > .active-option {
  color: var(--custom-color);
  font-weight: 700;
}

.dashboard-options > .active-option:hover {
  color: var(--custom-color);
}

.dashboard-content {
  min-height: 500px;
}

.dashboard-content > * {
  margin: 30px 70px;
}

.dashboard-content > .no-match-prompt {
  margin: 30px 30px;
}

/* Style PodcastCardStyleD.js */

.starred-podcast {
  display: flex;
  align-items: flex-start;
}

.artwork-in-starred {
  width: 100px;
  height: 100px;
  border-radius: 6px;
}

.info-in-starred {
  margin: 0 auto 0 20px;
}

.info-in-starred > * {
  font-size: 1.4rem;
  margin-bottom: 7px;
}

.info-in-starred > .extra-info {
  display: flex;
  align-items: center;
}

.desc-in-starred {
  line-height: 2rem;
  max-height: 12rem;
  overflow: scroll;
  word-break: break-word;
}

.tooltip-in-starred {
  display: flex;
  position: relative;
  margin-left: 20px;
  min-width: 24px;
  min-height: 24px;
}

/* Make the website responsive */

@media (any-hover: hover) {
  .shake:hover {
    animation: shake-left-right 0.5s;
    transform: translate(0, 0);
  }

  @keyframes shake-left-right {
    10%,
    60% {
      transform: translate(-1px, 0);
    }

    30%,
    90% {
      transform: translate(1px, 0);
    }
  }

  .customize-color:hover .color-picker,
  .customize-color:active .color-picker {
    visibility: visible;
    opacity: 1;
  }

  .tooltip {
    visibility: hidden;
    position: relative;
    top: -13px;
    margin-left: 40px;
    margin-right: 20px;
    display: inline-block;
  }

  .player-controls:hover .tooltip {
    visibility: visible;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    color: #808080;
    text-align: center;
    top: 30px;
    left: -5px;
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip-in-starred .tooltiptext-in-starred {
    visibility: hidden;
    color: #808080;
    text-align: center;
    top: 30px;
    left: -3px;
    position: absolute;
  }

  .tooltip-in-starred:hover .tooltiptext-in-starred {
    visibility: visible;
  }

  .tooltip-in-faved .tooltiptext-in-faved {
    visibility: hidden;
    color: #808080;
    top: 3px;
    left: 27px;
    position: absolute;
  }

  .tooltip-in-faved:hover .tooltiptext-in-faved {
    visibility: visible;
  }
}

@media (any-hover: none) {
  .navbar > div {
    border-left: none;
  }

  .navbar > .customize-color {
    display: none;
  }

  .tooltip {
    visibility: visible;
    position: relative;
    top: -13px;
    margin-left: 40px;
    margin-right: 20px;
    display: inline-block;
  }

  .tooltip .tooltiptext,
  .tooltip-in-starred .tooltiptext-in-starred,
  .tooltip-in-faved .tooltiptext-in-faved {
    display: none;
  }
}

@media (min-width: 769px) {
  .navbar-logo-sm {
    display: none;
  }

  .home-cover {
    background: center / cover no-repeat url('./images/home-cover-bg.jpg');
    height: 900px;
  }

  .not-found-cover {
    background: center / cover no-repeat url('./images/404-cover-bg.jpg');
    height: 900px;
  }
}

@media (max-width: 768px) {
  .navbar-logo-bg {
    display: none;
  }

  .navbar > div {
    padding-left: 2px;
    padding-right: 2px;
  }

  .navbar > .customize-color {
    padding-left: 2px;
    padding-right: 2px;
  }

  .color-picker {
    left: -80px;
  }

  .episode-preview,
  .faved-episode {
    margin-left: 25px;
  }

  .show-preview-1,
  .show-preview-2 {
    margin: 10px;
    margin-left: 25px;
  }

  .show-preview-1 > .show-preview-info {
    padding-left: 10px;
    width: 80%;
  }

  .show-preview-2 > div:first-child {
    margin-right: 10px;
  }

  .show-preview-2 > .align {
    padding-left: 10px;
    width: 60%;
  }

  .title3,
  .title4 {
    width: 95%;
  }

  .home-cover {
    background: center / cover no-repeat url('./images/home-cover-md.jpg');
    height: 800px;
    align-items: flex-start;
  }

  .not-found-cover {
    background: center / cover no-repeat url('./images/404-cover-md.jpg');
    height: 800px;
  }

  .episode-info {
    padding-right: 20px;
    flex: 0 0 auto;
  }

  .artwork-in-player {
    height: 40px;
  }

  .titles-in-player {
    display: none;
  }

  .player-controls {
    margin-left: 30px;
  }

  #playPause {
    margin-left: 8px;
    margin-right: 8px;
  }

  .speed {
    width: 30px;
  }

  .matched-container2 > * {
    margin-left: 0;
    margin-right: 0;
  }

  .matched-results {
    padding-left: 0;
  }

  .no-match-prompt {
    margin-left: 25px;
  }

  .filter > * {
    margin-left: 0;
  }

  .episode-preview > *:nth-child(2) {
    margin-left: 15px;
  }

  .podcast-episode-container {
    flex-direction: column;
  }

  .show {
    margin-left: 5px;
    flex: 1 1 auto;
    border-bottom: 1px solid #dbdbdb;
  }

  .podcast-links,
  .more-info {
    display: none;
  }

  .episodes {
    margin-left: 5px;
    margin-right: 5px;
  }

  .episodes > * {
    margin-left: 25px;
    margin-right: 25px;
  }

  .desc {
    max-height: 24rem;
  }

  .load-more-btn {
    margin: 20px auto 0;
    display: flex;
  }

  .dashboard-content > * {
    margin: 30px 20px;
  }

  .dashboard-content > .no-match-prompt {
    margin: 30px 20px;
  }

  .artwork-in-starred,
  .artwork-in-faved {
    width: 80px;
    height: auto;
  }

  .desc-in-starred,
  .desc-in-faved {
    font-size: 1.2rem;
  }
}

@media (max-width: 580px) {
  .episode-info {
    padding-right: 10px;
  }

  .player-controls {
    margin-left: 10px;
  }

  .tooltip {
    margin-left: 13px;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .home-cover {
    background: center / cover no-repeat url('./images/home-cover-sm.jpg');
    height: 640px;
  }

  .home-cover > span:first-child {
    font-size: 5.2rem;
  }

  .not-found-cover {
    background: center / cover no-repeat url('./images/404-cover-sm.jpg');
    height: 640px;
  }

  .not-found-cover > span:first-child {
    font-size: 3rem;
    margin-top: 300px;
  }

  .dashboard-options > * {
    margin: 20px 7px;
  }

  .artwork-in-starred,
  .artwork-in-faved {
    width: 50px;
    height: auto;
  }

  .faved-episode > *:nth-child(2) {
    margin-left: 13px;
  }
}

/* For screen size of iPhone6/7/8 or below */
@media (max-width: 375px) {
  .episode-info {
    margin-left: 10px;
    padding-right: 5px;
  }

  .player-controls {
    margin-right: 10px;
  }

  .playcontrols {
    width: 85px;
  }

  .dashboard-content > * {
    margin: 30px 5px;
  }

  .tooltip-in-starred {
    margin-left: 0;
  }

  .fav-in-player > svg,
  .tooltip > svg[class='remove'] {
    width: 18px;
  }
}

@media (min-height: 800px) {
  .home-cover > span:first-child {
    margin-top: 420px;
  }

  .not-found-cover > span:first-child {
    margin-top: 420px;
  }
}
